@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background-color: hsl(216, 12%, 8%);
    color: white;
    min-width: 375px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: Overpass;
}

.card {
    background-color: hsl(213, 19%, 18%);
    padding: 30px 20px;
    border-radius: 20px;
    width: 340px;
}

.card .give-rating {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.card .show-notif {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.star {
    background-color: hsl(216, 12%, 54%, 0.1);
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

p {
    font-size: 14.5px;
    line-height: 25px;
    color: hsl(216, 12%, 54%);
}

.ratings {
    display: flex;
    justify-content: space-between;
}

.ratings > a {
    background-color: hsla(216, 12%, 54%, 0.1);
    padding: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    color: hsl(216, 12%, 54%);
    font-weight: 700;
}

.ratings > a:hover {
    background-color: hsl(216, 12%, 54%);
    color: white;
    transition: 0.4s ease-in-out;
}

.ratings > a:focus {
    background-color: hsl(25, 97%, 53%);
    color: white;
}

.card .give-rating > a {
    background-color: hsl(25, 97%, 53%);
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
}

.card .give-rating > a:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
    transition: 0.5s ease-in-out;
}

.show-notif {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.info-rating {
    background-color: hsla(216, 12%, 54%, 0.1);
    padding: 10px 20px;
    border-radius: 20px;
    color: hsl(25, 97%, 53%);
}

.loading img{
    width: 25px;
    -webkit-animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}

@media screen and (width > 375px) {
    .card {
        width: 400px;
        gap: 30px;
        padding: 40px;
    }
}